<nav>
    </body>

    <script>
        document.querySelector('#casas').addEventListener('click', (e) => {
            e.preventDefault();
            location.replace('/s/homes')
        })

        document.querySelector('.pesquisar').addEventListener('click', (e) => {
            e.preventDefault();
            var pesquisar = document.querySelector('#onde').value;
            location.replace('/s/' + pesquisar + '/all');
        })

        document.querySelector('.pesquisar_b').addEventListener('click', (e) => {
            e.preventDefault();
            var pesquisar = document.querySelector('#onde_b').value;
            location.replace('/s/' + pesquisar + '/all');
        })
    </script>

    </html>
</nav>

