<nav>
    <div id="navbar">
        <div class="airbnb_icon"></div>
        <div class="navbar_search_box">
            <input type="text" placeholder="Search">
        </div>
        <div class="header_text_father">
            <ul>
                <li class="header_text">Become a host</li>
                <li class="header_text"> Help</li>
                <li class="header_text">Sign up</li>
                <li class="header_text">Log in</li>
            </ul>
        </div>
    </div>
</nav>