<% include partials/header.ejs %>

<!-- Header Showcase -->
<div id="body">

    <header id="header">
        <div class="bg-image" style="background-image: url(/images/0ffd8594-f123-43f0-85bb-7ef88c6f0624.jpg)">

            <% include partials/navbar.ejs %>

            <div class="header_box">
                <div class=" header_title">Reserve acomodações e experiências únicas.</div>
                <div class="header_fill">
                    <p>ONDE</p>
                    <p class="onde"><input id="onde" type="onde" placeholder="Em qualquer lugar" size="20"></p>
                </div>
                <div class="header_fill2">
                    <div class="checkin">CHECK IN
                        <p><input type="checkin" placeholder="dd/mês/ano" size="20"></p>
                    </div>
                    <div class="checkout">CHECKOUT
                        <p><input type="checkout" placeholder="dd/mês/ano" size="20"></p>
                    </div>
                </div>
                <div class="header_fill3">
                    <p>HÓSPEDES</p>
                    <p class="hospedes"><input type="hospedes" placeholder="1 hóspede" size="20"></p>
                </div>
                <button class="pesquisar">Pesquisar</button>
            </div>
        </div>

        <!-- Max Width 1028px-->
        <div id="header_box_b">
            <div class="header_b_title_box">
                <div class=" header_title_b">Reserve acomodações e experiências únicas.</div>
            </div>
            <div id="header_box_b_search">
                <div class="header_fill_b">
                    <p>ONDE</p>
                    <p class="onde_b"><input id="onde_b" type="onde_b" placeholder="Em qualquer lugar" size="20"></p>
                </div>
                <div class="header_fill2_b">
                    <div class="checkin_b">CHECK IN
                        <p><input type="checkin" placeholder="dd/mês/ano" size="20"></p>
                    </div>
                    <div class="checkout_b">CHECKOUT
                        <p><input type="checkout" placeholder="dd/mês/ano" size="20"></p>
                    </div>
                </div>
                <div class="header_fill3_b">
                    <p>HÓSPEDES</p>
                    <p class="hospedes_b"><input type="hospedes" placeholder="1 hóspede" size="20"></p>
                </div>
                <button class="pesquisar_b">Pesquisar</button>
            </div>
        </div>
    </header>
    <!-- Section A -->
    <div id="bottom_page">
        <div class="explore_title">Explore a Airbnb</div>
        <div id="explore">
            <div class="explore_box" id="casas">
                <div class="explore_image" style="background-image: url('/images/8b7519ec-2c82-4c09-8233-fd4d2715bbf9.webp')"></div>
                <div class="explore_text">Casas</div>
            </div>
            <div class="explore_box">
                <div class="explore_image" style="background-image: url('/images/cb8b3101-d419-4c17-8e2f-4989b39b98c3.jpg')"></div>
                <div class="explore_text">Experiências</div>
            </div>
            <div class="explore_box">
                <div class="explore_image" style="background-image: url('/images/da2d8e97-90b7-409f-94ac-5ab0327c289b.webp')"></div>
                <div class="explore_text">Restaurantes</div>
            </div>
        </div>



        <!-- Section B -->
        <div id="apresentamos">
            <div class="explore_title">Apresentamos o Airbnb Plus</div>
            <div class="apresentamos_descricao">Uma nova seleção de casas com conforto e qualidade verificados</div>
            <div class="apresentamos_imagem" style="background-image: url('/images/e36e06a9-f9a4-49a5-a94c-02134a8787c5.jpg')">
                <div class="apresentamos_2">
                    <svg class="svg" viewBox="0 0 470 239" fill="#484848" height="86px" aria-label="Airbnb Plus branding"
                        focusable="false" width="188.7866108786611px">
                        <path d="M104.707 148.464c-.512-1.438-1.109-2.83-1.677-4.118a386.734 386.734 0 0 0-2.678-5.889l-.07-.152a1318.773 1318.773 0 0 0-25.22-51.674l-.374-.728c-.9-1.75-1.832-3.56-2.787-5.337-1.116-2.076-2.352-4.275-4.1-6.322-3.766-4.412-8.966-6.842-14.645-6.842s-10.88 2.431-14.648 6.845c-1.746 2.048-2.981 4.245-4.098 6.321a341.749 341.749 0 0 0-2.812 5.387l-.348.676a1319.873 1319.873 0 0 0-25.22 51.673l-.114.25a388.09 388.09 0 0 0-2.632 5.791c-.569 1.288-1.166 2.678-1.678 4.12-1.497 4.213-1.941 8.24-1.359 12.308 1.219 8.513 6.924 15.809 14.89 19.041a24.699 24.699 0 0 0 9.335 1.81c.995 0 2.007-.06 3.007-.176 3.833-.445 7.695-1.75 11.48-3.88 4.629-2.606 9.202-6.425 14.197-11.883 4.996 5.458 9.569 9.277 14.199 11.883 3.784 2.13 7.646 3.435 11.478 3.88 1 .116 2.013.175 3.008.175a24.69 24.69 0 0 0 9.334-1.809c7.965-3.231 13.671-10.528 14.891-19.041.582-4.067.137-8.093-1.36-12.31zm-51.55 6.352c-6.213-7.89-10.2-15.216-11.599-21.358-.587-2.578-.721-4.947-.398-7.041.278-1.812.9-3.431 1.848-4.815 2.145-3.127 5.938-4.994 10.15-4.994 4.209 0 8.002 1.867 10.147 4.996.949 1.383 1.57 3.003 1.849 4.815.322 2.097.187 4.466-.4 7.044-1.401 6.141-5.387 13.465-11.598 21.353zm45.897 5.35a17.098 17.098 0 0 1-10.46 13.375c-2.745 1.114-5.746 1.506-8.796 1.153-2.919-.34-5.792-1.322-8.783-3.005-4.14-2.33-8.331-5.908-13.048-11.157 7.508-9.275 12.197-17.824 13.933-25.439.794-3.481.962-6.774.5-9.788-.448-2.908-1.474-5.548-3.05-7.846-3.511-5.123-9.565-8.182-16.195-8.182-6.627 0-12.68 3.058-16.192 8.18-1.576 2.298-2.601 4.938-3.048 7.845-.464 3.01-.297 6.302.496 9.784 1.735 7.618 6.424 16.169 13.934 25.447-4.716 5.248-8.907 8.825-13.048 11.156-2.99 1.683-5.863 2.666-8.782 3.005-3.049.353-6.052-.039-8.797-1.153a17.095 17.095 0 0 1-10.46-13.376c-.418-2.923-.095-5.742 1.018-8.872.41-1.154.889-2.286 1.483-3.632.84-1.903 1.732-3.838 2.595-5.709l.116-.251a1318.605 1318.605 0 0 1 25.196-51.625l.35-.682a336.93 336.93 0 0 1 2.765-5.295c.972-1.808 1.95-3.555 3.236-5.063 2.403-2.815 5.563-4.303 9.14-4.303 3.575 0 6.734 1.487 9.137 4.302 1.287 1.508 2.265 3.255 3.236 5.061a333.39 333.39 0 0 1 2.74 5.247l.377.734a1317.39 1317.39 0 0 1 25.196 51.625l.071.155a379.704 379.704 0 0 1 2.64 5.805c.595 1.347 1.075 2.48 1.484 3.63 1.111 3.132 1.434 5.951 1.016 8.873zm194.117-43.622c0-33.068 4.234-63.313 11.695-83.88 5.04-14.316 11.492-25.002 19.961-25.002 7.46 0 11.694 8.67 11.694 22.583 0 17.744-6.049 38.713-15.928 59.482-7.26 15.323-16.736 30.244-27.02 43.754-.2-5.242-.402-10.888-.402-16.937zm-43.352 65.732c12.704-7.057 25.608-17.946 37.504-31.252 3.63 22.985 11.292 30.446 20.365 30.446 10.082 0 19.76-9.276 28.229-26.01v3.225c0 17.34 7.863 22.785 14.92 22.785 10.485 0 20.769-11.695 29.036-30.85-.202 3.428-.202 5.04-.202 7.259 0 17.542 6.452 22.784 13.912 22.784 6.856 0 12.502-4.84 18.55-14.921 1.412-2.419-.402-5.646-3.225-5.646-1.412 0-2.823.807-3.428 2.017-3.63 6.452-7.057 10.888-11.291 10.888-5.848 0-6.452-8.47-6.452-15.122 0-9.679 1.225-25.472 3.024-34.883.48-2.515-1.412-4.637-3.831-4.637-2.017 0-3.63 1.41-4.033 3.024-7.662 27.826-19.558 52.425-30.85 52.425-5.645 0-8.065-6.654-8.065-15.324 0-9.88 2.017-21.777 5.645-35.085.606-2.42-1.209-4.839-3.83-4.839-1.613 0-3.428 1.009-3.832 2.621-9.072 30.245-21.776 52.627-33.269 52.627-8.267 0-12.5-11.292-14.315-29.237 13.105-15.526 24.8-33.471 33.47-51.619 10.284-21.977 16.736-44.157 16.736-62.707C344.587 6.654 334.505 0 325.23 0c-10.888 0-20.97 10.283-28.027 29.842-7.46 21.373-12.098 52.424-12.098 86.702 0 9.275.404 17.34 1.008 24.397-12.5 14.316-26.212 26.616-39.923 34.48-1.814 1.008-2.62 3.428-1.613 5.242 1.008 1.815 3.427 2.621 5.242 1.613zm-68.353 56.054c2.218 0 4.235-1.815 4.235-4.033 0-17.743.806-35.487 2.62-52.827 36.698-3.226 78.839-38.31 78.839-74.806 0-25.204-18.147-39.52-42.141-39.52-23.39 0-53.03 14.719-77.63 39.117-1.612 1.41-1.612 4.032 0 5.645 1.413 1.613 4.034 1.613 5.647 0 22.986-22.38 50.207-36.697 71.781-36.697 19.357 0 33.874 11.493 33.874 31.455 0 32.26-36.899 63.11-69.563 66.539 3.024-25.608 7.864-50.408 14.518-72.185.604-2.016-.807-4.436-2.823-5.042-2.218-.603-4.637.606-5.243 2.622-6.654 22.583-11.694 48.19-14.921 75.008-7.863-.403-14.719-2.42-22.38-6.855-2.017-1.009-4.436-.202-5.647 1.613-1.008 2.016-.2 4.436 1.614 5.645 9.073 4.637 16.937 7.057 25.607 7.662-1.613 17.34-2.622 35.084-2.622 52.626 0 2.218 2.017 4.033 4.235 4.033zm274.22-110.697c1.614 1.21 4.235 1.008 5.444-.604 5.444-6.855 8.671-14.115 8.671-20.365 0-9.275-6.251-15.122-17.743-15.122-22.18 0-43.554 22.582-43.554 39.923 0 11.09 7.662 18.55 22.987 21.373l9.476 1.613c9.88 1.613 16.534 5.04 16.534 11.896 0 7.461-8.267 11.493-16.937 11.493-6.452 0-12.099-2.218-16.534-5.242-1.613-1.21-4.032-.807-5.242.806s-.807 4.033.806 5.242c5.646 4.235 12.905 6.856 20.97 6.856 14.315 0 25.003-8.065 25.003-19.558 0-9.275-7.058-16.333-23.39-19.155l-9.477-1.614c-9.678-1.613-16.13-5.846-16.13-13.912 0-13.913 17.744-32.06 35.285-32.06 6.05 0 9.88 2.622 9.88 8.066 0 4.234-2.42 9.679-6.653 14.92-1.21 1.614-1.009 4.033.604 5.444z"></path>
                    </svg>
                </div>
                <div class="explorar">EXPLORAR CASAS ></div>
            </div>
        </div>

        <!-- Section C -->
        <div id="recomendado">
            <div class=" explore_title">Recomendado para si</div>
            <div class="recomendado_father">
                <div class="recomendado_child" style="background-image: url('/images/998b4270-25d7-4850-8ccf-4350b9a5ab05.webp')">
                    <div class="recomendado1">Paris</div>
                    <div class="recomendado2">€91/noite em média</div>
                </div>
                <div class="recomendado_child" style="background-image: url('/images/60145c65-7c36-4ac5-8129-6ae9a0d27a81.webp')">
                    <div class="recomendado1">Tóquio</div>
                    <div class="recomendado2">€73/noite em média</div>
                </div>
                <div class="recomendado_child" style="background-image: url('/images/6729455e-af21-4dc3-bfdf-332393d407a8.webp')">
                    <div class="recomendado1">Londres</div>
                    <div class="recomendado2">€105/noite em média</div>
                </div>
                <div class="recomendado_child" style="background-image: url('/images/82af5bc4-ed5b-44d9-9209-ac0f2fbf8986.webp')">
                    <div class="recomendado1">Los Angeles</div>
                    <div class="recomendado2">€110/noite em média</div>
                </div>
                <div class="recomendado_child" style="background-image: url('/images/6db93b37-3d4b-49c0-af00-c184a9dd6305.webp')">
                    <div class="recomendado1">Barcelona</div>
                    <div class="recomendado2">€69/noite em média</div>
                </div>
            </div>
        </div>


        <!-- Section E -->
        <div id="section_e">
            <div class="explore_title">Experiências com avaliações excelentes</div>
            <div class="apresentamos_descricao">Experiências com avaliações excelentes de moradores locais e de
                viajantes globais
            </div>
            <div id="homesaroundtheworld">
                <div class="homes_box" style="background-image: url('/images/881d76c6-4de6-4808-9f0b-36462b6c48a2.webp')" style="cursor: pointer;" onclick="window.location='/rooms/5c7d1e18378fa006b4a9623e';">
                    <div class="homes_title1">HOTEL ROOM - OIA
                        <div class="homes_location">SUNSET CAVE HOUSE IN OIA
                            <div class="homes_detail">€215 per night - Free cancellation
                                <div class="homes_rating">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span> 178 - Superhost</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="homes_box" style="background-image: url('/images/12bc436d_original.webp')" style="cursor: pointer;" onclick="window.location='/rooms/5c7f79df33ab3f3dfcf4b8b4';">
                    <div class="homes_title">ENTIRE APARTMENT - CAPE TOWN
                        <div class="homes_location">City Penthouse in Central Cape Town
                            <div class="homes_detail">€101 per night - Free cancellation
                                <div class="homes_rating">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span> 178 - Superhost
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="homes_box" style="background-image: url('/images/94250ea3_original.webp')" style="cursor: pointer;" onclick="window.location='/rooms/5c7f7b1bcf55f82c8088b1e7';">
                    <div class="homes_title1">ENTIRE APARTMENT - AVIGNON
                        <div class="homes_location">Nº1 in AVIGNON design quiet AC wifi citycenter
                            <div class="homes_detail">€35 per night - Free cancellation
                                <div class="homes_rating">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span> 466 - Superhost
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="homes_box" style="background-image: url('/images/933fe6cb_original.jpg')" style="cursor: pointer;" onclick="window.location='/rooms/5c7f7b8da54a524b7cee862f';">
                    <div class="homes_title1">ENTIRE CABIN - BELLEGRA
                        <div class="homes_location">La casa tra li ulivi
                            <div class="homes_detail">€135 per night - free cancellation
                                <div class="homes_rating">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span> 242 - Superhost
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="homes_box5" style="background-image: url('/images/52a1e88d-c589-4d88-a0b0-a106270d00f1.jpg')" style="cursor: pointer;" onclick="window.location='/rooms/5c7f7bf82810a441a8ed6d78';">
                    <div class="homes_title">VERIFIED - BARCELONA
                        <div class="homes_location">Exquisito apartamento con espacios abiertos y luz
                            <div class="homes_detail">€290 per night
                                <div class="homes_rating">
                                    <span class="fa fa-star checked1"></span>
                                    <span class="fa fa-star checked1"></span>
                                    <span class="fa fa-star checked1"></span>
                                    <span class="fa fa-star checked1"></span>
                                    <span class="fa fa-star checked1"></span> 225 - Superhost
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="homes_box6" style="background-image: url('/images/6b9d06f7_original.webp')" style="cursor: pointer;" onclick="window.location='/rooms/5c7f7c4563e8703d54cdf111';">
                    <div class="homes_title1">PRIVATE ROOM - LA HABANA
                        <div class="homes_location">La Rosa de Ortega / Standasrd Room
                            <div class="homes_detail">€61 per night - Free cancellation
                                <div class="homes_rating">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span> 152 - Superhost
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="homes_box7" style="background-image: url('/images/a9a49e5f_original.webp')" style="cursor: pointer;" onclick="window.location='/rooms/5c7f7c838466c13a586bf459';">
                    <div class="homes_title">ISLAND - FERN FOREST
                        <div class="homes_location">Dream tropical Tree House
                            <div class="homes_detail">€261 per night - Free cancellation
                                <div class="homes_rating">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span> 528 - Superhost
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="homes_box8" style="background-image: url('/images/3ab8f121_original.jpg')" style="cursor: pointer;" onclick="window.location='/rooms/5c7f7cbd11ee703958c2daf1';">
                    <div class="homes_title">DOME HOUSE - APTOS
                        <div class="homes_location">Mushroom Dome Cabin: #1 on airbnb in the world
                            <div class="homes_detail">€113 per night - Free cancellation
                                <div class="homes_rating">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span> 1230 - Superhost
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section D -->
        <div id="recomendacoes">
            <div class="explore_title">Casas para o seu género de viagem</div>
            <div class="apresentamos_descricao">Encontre uma casa com avaliações excelentes e as comodidades que
                precisa</div>
            <div class="recomendacoes_father">
                <div class="recomendacoes_child" style="background-image: url('/images/ab40d890-7184-4a79-beb2-09e148e25d0d.jpg')">
                    <div class=" recomendacoes_child_des1">MAIS DE 2000 CASAS</div>
                    <div class=" recomendacoes_child_des2">Descubra uma casa perfeita para famílias. Relaxe e tire
                        partido de um espaço só para si.</div>
                </div>
                <div class="recomendacoes_child" style="background-image: url('/images/667e2a39-ec14-4990-b68f-0cf5ae41b674.jpg')">
                    <div class=" recomendacoes_child_des3">MAIS DE 2000 CASAS</div>
                    <div class=" recomendacoes_child_des2">Reserve uma casa com excelentes avaliações que ofereça
                        flexibilidade e itens básicos para a sua viagem em trabalho.</div>
                </div>
            </div>
        </div>

    </div>

</div>

<% include partials/footer.ejs %>