<% include partials/header.ejs %> <% include partials/navbar.ejs %>

<div id="imagens_home">
    <div class="imagens_home1" style="background-image: url(
        <%=houses.main_image%>)"></div>
    <div class="imagens_home2"></div>
    <div class="imagens_home3"></div>
    <div class="imagens_home4"></div>
    <div class="imagens_home5"></div>
    </div>
</div>

<div id="anuncio_home">
    <div class="info_home">
        <div id="titulo_home_box">
        <div class="titulo_home">
            <p class="titulo1_home">APARTAMENTO INTEIRO</p>
            <p class="titulo2_home"><%= houses.name %></p>
            <p class="titulo3_home">Roma</p>
        </div>
        <div id="anunciante_box">
        <div class="titulo_home_anunciante"></div>
        <div class="nome_anunciante"><p>Rita</p></div>
    </div>
    </div>
        <div class="conteudo_home">
            <div class="info1_home">
                <p class="conteudo1_home">Apartamento inteiro</p>
                <div id="info1_home_details">
                <p class="conteudo2_home_details">2 hóspedes</p>
                <p class="conteudo2_home_details">1 quarto</p>
                <p class="conteudo2_home_details"><%= houses.beds %> camas</p>
                <p class="conteudo2_home_details">1 casa de banho</p>
            </div>

            </div>
            <div class="info2_home">
                <p class="conteudo1_home">Café da Manhã</p>
                <p class="conteudo2_home">Este é um dos poucos lugares na região com esse recurso.</p>
                </div>
            <div class="info3_home">
                <p class="conteudo1_home">Rita é um Superhost</p>
                <p class="conteudo2_home"class="conteudo2_home">Superhosts são anfitriões experientes e muito bem avaliados, comprometidos em fornecer estadias excelentes para seus hóspedes</p>
            </div>
            <div class="info4_home">
                <p class="conteudo1_home">Self check-in</p>
                <p class="conteudo2_home">Faça check-in sem problemas com o porteiro.</p>
            </div>
        </div>
    </div>
    <div class="reserva_home">
        <div class="reserva_home_inner">
                <div class="header_box_c">
                    <div class="header_title_c">
                        <span class="header_title_c1"><%= houses.price %>€ </span>
                        <span class="header_title_c2"> por noite</span>
                    </div>
                    <div class="homes_rating_c">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span> 562</div>
                    </div>
                    <div class="header_fill_c">
                        <p>Datas</p>
                        <p class="datas_c"><input id="datas_c" type="datas_c" placeholder="Em qualquer lugar" size="20"></p>
                    </div>
                    <div class="header_fill3_c">
                        <p>Hóspedes</p>
                        <p class="hospedes_c"><input type="hospedes_c" placeholder="1 hóspede" size="20"></p>
                    </div>
                    <button class="pesquisar_c">Pedir para reservar</button>
                    <div class="papaparapapapapapa"><span>Ainda não será cobrado</span></div>
                    
                </div>
        </div>   
    </div>
</div>