<% include partials/header.ejs %>

<% include partials/navbar.ejs %>


<form id="newHome_form" method="POST" action="/new_home">
    <label for="name">Name</label> <br>
    <input type="text" name="name" value="<%= qs.name %>"><br>
    <label for="beds">Beds</label> <br>
    <input type="text" name="beds" value="<%= qs.beds %>"><br>
    <label for="price">Price</label> <br>
    <input type="text" name="price" value="<%= qs.price %>"><br>
    <label for="rating">Rating</label> <br>
    <input type="text" name="rating" value="<%= qs.rating %>"><br>
    <label for="main_image">Main Image</label> <br>
    <input type="text" name="main_image" value="<%= qs.main_image %>"><br>
    <input id="submit" type="submit" value="submit" />
</form>

<% include partials/footer.ejs %>