* {
  margin: 0;
  padding: 0;
}

#body {
  margin: auto;
  width: 100%;
}

.bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin-top: -30px;
  z-index: -1;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(0ffd8594-f123-43f0-85bb-7ef88c6f0624.jpg) center no-repeat;
  background-size: cover;
}

#header {
  grid: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
  height: 880px;
  padding-bottom: 120px;
}

/*+------------------------------+*/
/*|            Navbar            |*/
/*+------------------------------+*/

#navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 80px;
  padding-top: 10px;
}

.airbnb_icon {
  display: block;
  background-image: url("/images/airbnb.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 50px;
  width: 50px;
  margin-top: 20px;
  margin-left: 20px;
  opacity: 0.7;
}

.navbar_search_box {
  width: 60%;
  line-height: 90px;
  text-align: left;
}

.navbar_search_box input {
  height: 40px;
  width: 450px;
  display:none;
}

.header_text_father {
  display: flex;
  justify-content: flex-end;
  color: white;
  font-family: "heeboRegular", sans-serif;
}

.header_text_father ul {
  justify-content: space-between;
  align-self: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  display: flex;
  justify-content: flex-end;
}

.header_text {
  padding-right: 35px;
  color: black;
}

/*+------------------------------+*/
/*|        Imagens /s/home       |*/
/*+------------------------------+*/

#imagens_home {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 50% 1fr 1fr;
}

.imagens_home1 {
  grid-row: 1 / 3;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 490px;
  width: 100%;
  /*border: 1px solid grey;*/
}

.imagens_home2,
.imagens_home3,
.imagens_home4,
.imagens_home5 {
  border: 1px, solid, grey;
  width: 100%;
  height: 50%;
  border: 1px solid grey;
}
.imagens_home2 {
  background-image: url("/images/20662903_original.webp");
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  display: none;
}

.imagens_home3 {
  background-image: url("/images/03163392_original.webp");
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  display: none;
}
.imagens_home4 {
  background-image: url("/images/be31329e_original.webp");
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  display: none;
}

.imagens_home5 {
  background-image: url("/images/baabc09a_original.webp");
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  display: none;
}

/*+------------------------------+*/
/*|  Conteudo do route /s/home   |*/
/*+------------------------------+*/

#anuncio_home {
  max-width: 1130px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.info_home {
  width: 641px;
}

#titulo_home_box{
    display: flex;
    justify-content: space-between;
}

.titulo_home {
  height: 150px;
}

/*----Anunciante-----*/


#anunciante_box{
    display: flex;
    flex-direction: column;
}

.titulo_home_anunciante{
    background-image: url("/images/original.webp");
    display: block;
    box-sizing: border-box;
    border-radius: 50%;
    background-position:50% 50%;
    background-repeat:no-repeat; 
    background-size: 100%; 
    height: 64px;
    width: 64px;
    margin-top: 55px;
}

.nome_anunciante{
    margin-top: 10px;
    text-align: center;
}

/*---------------------*/

.titulo1_home {
  color: #39576a;
  font-size: 12px;
  font-weight: 800;
  line-height: 1.333em;
  font-family: "Varela Round";
  font-style: normal;
  font-variant: normal;
  padding-top: 30px;
}

.titulo2_home {
  font-size: 32px;
  font-weight: 800;
  line-height: 1.125em;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: "Varela Round";
  font-style: normal;
  font-variant: normal;
}

.conteudo1_home {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.375em;
  color: #484848;
  font-family: "Varela Round";
  font-style: normal;
  font-variant: normal;
}

.conteudo2_home {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375em;
  color: #484848;
  font-family: "Varela Round";
  font-style: normal;
  font-variant: normal;
  padding-bottom: 25px;
}

.conteudo2_home_details {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375em;
  color: #484848;
  font-family: "Varela Round";
  font-style: normal;
  font-variant: normal;
  padding-right: 30px;
  padding-bottom: 25px;
}

#info1_home_details {
  display: flex;
  justify-content: flex-start;
}

.reserva_home {
  margin-top: 35px;
  width: 376px;
  border: 1px solid #c4c2c2;
}

.reserva_home_inner {
  padding-right: 26px;
  padding-left: 26px;
}

/*-------------------------------*/

.header_title_c {
  display: flex;
  justify-content: flex-start;
}

.header_title_c1 {
  font-size: 30px;
  font-family: "heebo700", sans-serif;
  color: #484848;
  font-weight: 800;
  line-height: 1.44444em;
  color: rgb(72, 72, 72);
}

.header_title_c2 {
  font-size: 12px;
  font-family: "heebo700", sans-serif;
  font-weight: 600;
  line-height: 1.333em;
  color: rgb(72, 72, 72);
  padding-top: 20px;
}

.header_box_c {
  margin-top: 20px;
  background-color: white;
  width: 100%;
}

input[type="datas_c"] {
  width: 326px;
  height: 46px;
  margin-bottom: 30px;
}

input[type="hospedes_c"] {
  width: 326px;
  height: 46px;
  margin-bottom: 10px;
}

.pesquisar_c {
  font-size: 17px;
  border: 1px solid #ff5a5f;
  border-radius: 6%;
  width: 326px;
  height: 46px;
  text-align: center;
  line-height: 50px;
  color: white;
  background-color: #ff5a5f;
  margin-top: 30px;
  font-family: "heebo700", sans-serif;
}

.homes_rating_c {
  overflow-wrap: break-word;
  font-size: 12px;
  line-height: 16px;
  font-family: "heebo700", sans-serif;
  padding-bottom: 30px;
}

.papaparapapapapapa{
    font-size: 12px;
    font-family: "heebo700", sans-serif;
    font-weight: 600;
    line-height: 1.333em;
    color: rgb(72, 72, 72);
    margin-top: 15px;
    text-align: center;
}

/*-------------------------------*/

#footer {
  display: flex;
  justify-content: flex-end;
  position: -webkit- sticky;
  position: sticky;
  bottom: 10px;
}

.footer_button {
  padding: 7px;
  margin: 5px;
}

#newHome_form {
  padding-top: 30px;
  padding-left: 30px;
}

.header_box {
  background-color: white;
  width: 441px;
  height: 475px;
  margin-left: 13%;
  margin-top: 60px;
  box-shadow: 5px 5px 20px #c4c2c2;
}

.header_title {
  padding: 34px 34px 20px 34px;
  width: 377px;
  height: 72px;
  font-size: 30px;
  font-family: "heebo700", sans-serif;
  color: #484848;
}

.header_fill {
  padding: 10px 34px 20px 34px;
  margin-top: -20px;
}

.header_fill p {
  padding-top: 10px;
}

.header_fill3 {
  padding: 20px 34px 0px 34px;
}

input[type="onde"] {
  width: 360px;
  height: 46px;
  margin-top: -15px;
}

.checkin {
  color: #484848;
  font-family: "heebo700", sans-serif;
}

input[type="checkin"] {
  width: 185.5px;
  height: 43px;
}

.checkout {
  color: #484848;
  font-family: "heebo700", sans-serif;
}

input[type="checkout"] {
  width: 185.5;
  height: 43px;
}

input[type="hospedes"] {
  width: 360px;
  height: 43px;
}

.header_fill2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 34px 0px 34px;
}

#bottom_page {
  margin: auto;
  width: 1080px;
  padding-left: 2%;
}

#explore {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2fr;
  width: 70%;
  justify-content: flex-start;
  padding-top: 30px;
  padding-bottom: 50px;
}

.explore_title {
  font-size: 24px;
  color: #484848;
  font-family: "heebo700", sans-serif;
  padding-bottom: 20px;
}

.explore_box {
  margin: 0 7px;
  width: 244px;
  height: 72px;
  box-shadow: 0px 0px 10px #c4c2c2;
  border-color: #c4c2c2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.explore_image {
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 96px;
  height: 72px;
}

.explore_text {
  font-size: 18px;
  margin-top: 10px;
  padding: 14px 16px 10px;
  color: #484848;
  font-family: "heebo700", sans-serif;
}

#apresentamos {
  padding-top: 0px;
}

.apresentamos_imagem {
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 1065px;
  height: 300px;
  align-content: center;
}

#recomendado {
  padding-top: 5%;
}

.recomendado_father {
  display: flex;
  justify-content: space-between;
}

.recomendado_child {
  background-size: contain;
  background-repeat: no-repeat;
  width: 193px;
  height: 242px;
}

.recomendacoes_father {
  display: flex;
  justify-content: space-around;
  padding-bottom: 150px;
  width: 100%;
}

.recomendacoes_child {
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 49%;
  height: 317px;
  border-right: 15px;
  border-radius: 3px;
}

.pesquisar {
  font-size: 17px;
  border: 1px solid #ff5a5f;
  border-radius: 6%;
  width: 125px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: white;
  background-color: #ff5a5f;
  margin-left: 270px;
  margin-top: 30px;
  font-family: "heebo700", sans-serif;
}

.apresentamos_descricao {
  font-size: 18px;
  color: #484848;
  font-family: "heebo300", sans-serif;
  padding-bottom: 15px;
}

.recomendacoes_child_des1 {
  padding-top: 75%;
  color: #86381a;
}

.recomendacoes_child_des2 {
  color: #484848;
  font-family: "heebo300", sans-serif;
}

.recomendacoes_child_des3 {
  padding-top: 75%;
  color: #495777;
}

.recomendado1 {
  padding-top: 150px;
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: "heeboRegular", sans-serif;
}

.recomendado2 {
  margin: auto;
  width: 80%;
  color: white;
  text-align: center;
  font-size: 14px;
  font-family: "heeboRegular", sans-serif;
}

.explorar {
  font-size: 14px;
  border: 1px solid white;
  border-radius: 4%;
  width: 185px;
  height: 50px;
  text-align: center;
  line-height: 51px;
  color: #484848;
  font-family: "heebo300", sans-serif;
  background-color: white;
  margin: auto;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}

.apresentamos_2 {
  margin: auto;
  text-align: center;
  box-sizing: border-box;
  padding-top: 7%;
  padding-bottom: 4%;
}

.plus {
  font-size: 70px;
  padding-top: 50px;
  padding-left: 20px;
  font-family: "Pacifico", cursive;
  color: #484848;
}

p {
  color: #484848;
  font-family: "heebo700", sans-serif;
}

/* Section E */

#section_e {
  padding-top: 20px;
}

#homesaroundtheworld {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.homes_box {
  height: 277px;
  width: 96%;
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 10%;
}

.homes_box5 {
  height: 277px;
  width: 96%;
  background-size: contain;
  background-repeat: no-repeat;
}

.homes_box6 {
  height: 277px;
  width: 96%;
  background-size: contain;
  background-repeat: no-repeat;
}

.homes_box7 {
  height: 277px;
  width: 96%;
  background-size: contain;
  background-repeat: no-repeat;
}

.homes_box8 {
  height: 277px;
  width: 96%;
  background-size: contain;
  background-repeat: no-repeat;
}

.homes_title1 {
  overflow-wrap: break-word;
  padding-top: 180px;
  color: rgb(87, 37, 51);
  font-family: "heebo700", sans-serif;
  font-size: 12px;
  line-height: 16px;
  grid-gap: 10px;
}

.homes_title {
  overflow-wrap: break-word;
  padding-top: 180px;
  color: rgb(155, 49, 67);
  font-family: "heebo700", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.homes_location {
  overflow-wrap: break-word;
  font-size: 16px;
  line-height: 22px;
  color: rgb(72, 72, 72);
}

.homes_detail {
  overflow-wrap: break-word;
  font-size: 14px;
  line-height: 18px;
  font-family: "heebo300", sans-serif;
}

.homes_rating {
  overflow-wrap: break-word;
  font-size: 12px;
  line-height: 16px;
  font-family: "heebo700", sans-serif;
}

.checked {
  color: #008489;
  height: 1px;
}

.checked1 {
  color: rgb(166, 29, 85);
  height: 1px;
}

/* fonts */
@font-face {
  font-family: heebo700;
  src: url(Heebo_700.ttf);
}

@font-face {
  font-family: heebo300;
  src: url(Heebo_300.ttf);
}

@font-face {
  font-family: heeboRegular;
  src: url(Heebo_regular.ttf);
}


/*+------------------------------+*/
/*|        Media Queries         |*/
/*+------------------------------+*/


@media (min-width: 1127px) {
  #header_box_b {
    display: none;
  }
}

@media (max-width: 1128px) {
  #header {
    height: 500px;
  }

  .header_box {
    display: none;
  }

  .bg-image {
    height: 232px;
  }

  .header_b_title_box {
    background-color: transparent;
    margin-top: -65px;
    margin-left: 30px;
  }

  #header_box_b {
    max-width: 100%;
    height: 101px;
  }

  .header_title_b {
    padding-bottom: 10px;
    font-size: 30px;
    font-family: "heebo700", sans-serif;
    color: white;
  }

  #header_box_b_search {
    padding-top: 30px;
    padding-left: 20px;
    margin: auto;
    max-width: 100%;
  }

  #header_box_b_search p {
    max-width: 100%;
  }

  .header_fill2_b {
    display: flex;
    justify-content: flex-start;
    max-width: 1128px;
    padding-top: 20px;
  }

  .header_fill3_b {
    padding-top: 20px;
  }

  .header_fill_b {
    padding-top: 20px;
  }

  input[type="onde_b"] {
    width: 98%;
    height: 46px;
    margin-top: 5px;
  }

  .checkin_b {
    color: #484848;
    font-family: "heebo700", sans-serif;
    width: 49%;
  }

  input[type="checkin"] {
    width: 100%;
    height: 43px;
    margin-top: 0;
  }

  .checkout_b {
    color: #484848;
    font-family: "heebo700", sans-serif;
    width: 49%;
  }

  input[type="checkout"] {
    width: 100%;
    height: 43px;
  }

  input[type="hospedes"] {
    width: 98%;
    height: 43px;
  }

  .pesquisar_b {
    font-size: 17px;
    border: 1px solid #ff5a5f;
    border-radius: 2%;
    width: 98%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    background-color: #ff5a5f;
    margin-left: 0;
    margin-top: 30px;
    font-family: "heebo700", sans-serif;
  }

  .header_text_father {
    display: none;
  }

  /* bottom page */

  /* Section A */
  #bottom_page {
    margin: auto;
    width: 100%;
    margin-left: 10px;
  }

  #explore {
    width: 96%;
    justify-content: flex-start;
    overflow-x: auto;
  }

  .explore_box {
    width: 100%;
  }

  .explore_text {
    font-size: 14px;
  }

  /* Section B */

  .apresentamos_imagem {
    box-sizing: border-box;
    width: 95%;
    height: 270px;
    background-size: cover;
  }

  /* Section C */

  #recomendado {
    display: none;
  }

  /* Section D */

  #recomendacoes {
    padding-top: 25%;
    overflow-x: scroll;
  }

  .recomendacoes_father {
    width: 100%;
  }

  .recomendacoes_child {
    position: relative;
    justify-content: space-around;
    width: 48%;
  }

  /* Section E */

  #section_e {
    padding-top: 10%;
  }

  #homesaroundtheworld {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 95%;
    grid-row-gap: 100px;
  }

  .homes_title {
    padding-top: 68%;
  }

  .homes_title1 {
    padding-top: 68%;
  }

  .homes_box7 {
    display: none;
  }

  .homes_box8 {
    display: none;
  }
}

@media (max-width: 970px) {
  /* Section E */

  #homesaroundtheworld {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10%;
  }

  .homes_box5 {
    display: none;
  }

  .homes_box6 {
    display: none;
  }
}

@media (max-width: 743px) {
  .explore_box {
    width: 138px;
    height: 135px;
    flex-direction: column;
  }

  .explore_image {
    position: relative;
    width: 138px;
    height: 77px;
  }

  .explore_text {
    white-space: nowrap;
  }

  .explore_title,
  .apresentamos_descricao {
    position: sticky;
  }

  .recomendacoes_father {
    width: 180%;
    overflow-x: auto;
  }

  .recomendacoes_child {
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    padding-bottom: 8%;
  }

  .recomendacoes_child_des1,
  .recomendacoes_child_des3 {
    padding-top: 430px;
  }
}

@media (max-width: 677px) {
  .bg-image {
    height: 283px;
  }

  .header_b_title_box {
    margin-top: -90px;
  }

  #bottom_page {
    padding-top: 60px;
  }
}
