#navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 90px;
  }
  
  .airbnb_icon {
    display: block;
    background-image: url("/images/airbnb.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 60px;
    width: 60px;
    margin-top: 10px;
    margin-left: 10px;
    opacity: 0.7;
  }
  
  .navbar_search_box {
    width: 60%;
    line-height: 90px;
    text-align: left;
    padding-top: 18px;
  }
  
  .navbar_search_box input{
      height: 40px;
      width: 450px;
  }
  
  .header_text_father {
    display: flex;
    justify-content: flex-end;
    width: 20%;
    color: white;
    font-family: "heeboRegular", sans-serif;
  }
  
  .header_text_father ul {
    justify-content: space-between;
    align-self: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    display: flex;
    justify-content: flex-end;
  }
  
  .header_text {
    padding-right: 35px;
    color: black;
  }